body {
    padding-top: 85px;
}

#codeID {
    margin: 26px 0 0;
    padding-left: 0;
    font-family: "Consolas", monospace;
    font-weight: bold;
    color: #aaa;
}

.btn.disabled {
    pointer-events: auto;
}

.navbar .container {
    position: relative;
}

.navbar-default .navbar-brand {
    padding: 0 15px;
    line-height: 65px;
    height: 65px;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0 1px 0 white;
    color: #aaa;
}

.navbar-text {
    margin: 22px 0;
}

.navbar-form .btn {
    padding: 6px 0;
    width: 80px;
}

.navbar-form .btn-primary {
    font-weight: bold;
}

.button-with-hotkey {
    float: left;
    margin-left: 1em;
}
.button-hotkey {
    font-size: 8pt;
    font-weight: bold;
    color: #999;
    text-shadow: 0 1px 0 white;
    text-align: center;
}

.button-hotkey[data-os=mac] {
    display: none;
}

.btn-outline-inverse {
    font-weight: normal;
    background-color: transparent;
    border-color: #cdbfe3;
}

#code-form {
    margin: 1em 0;
}

.output {
    display: none;
}

.output-wrapper {
    margin-top: 1em;
    padding: 1em;
    background: #999;
    color: #fefefe;
}

#result {
    white-space: pre;
    font-family: "Consolas", monospace;
    transition: 0.5s color ease;
}

#result.text-muted {
    color: #bbb;
}

.CodeMirror {
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#loader {
    display: none;
    position: absolute;
    top: 22px;
    left: 50%;
    margin-left: -10px;
}